.section {
  --padding: var(--space-1) 0;
  --border-color: var(--color-neutral-2);

  border-bottom: 1px solid var(--border-color);
}

.category {
  --space: var(--space-5);
}

.collections {
  --padding: var(--space-1) 0;
}

.header {
  --padding: var(--space-2) 0;
}
